---
import SwitchTheme from '#components/SwitchTheme';
import SwitchLang from '#components/SwitchLang';

import { getLangFromUrl, useTranslations } from '#i18n/utils';
import { getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { includeDraft } from '#lib/utils';

const pathname = Astro.url.pathname;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection(
  'posts',
  (post) => includeDraft(post.data.draft) && post.slug.includes(lang),
);

const LINKS = [
  {
    href: getRelativeLocaleUrl(lang, ''),
    label: t('home.title'),
    active: pathname === getRelativeLocaleUrl(lang, ''),
  },
  {
    href: getRelativeLocaleUrl(lang, 'posts'),
    label: t('posts.title'),
    active: pathname.startsWith(getRelativeLocaleUrl(lang, 'posts')),
  },
] as const satisfies {
  label: string;
  href: string;
  active: boolean;
}[];

const showLinks = posts.length > 0;
---

<header>
  <div class="navbar gap-1">
    <div class="navbar-start max-sm:flex-1 gap-1">
      {
        showLinks && (
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="-1"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-2 w-52 p-2 shadow"
            >
              {LINKS.map(({ label, href, active }) => (
                <li>
                  <a
                    class="text-sm aria-current:font-bold"
                    href={href}
                    aria-current={active}
                  >
                    {label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        {
          showLinks &&
            LINKS.map(({ label, href, active }) => (
              <li>
                <a
                  class="link aria-current:font-bold"
                  href={href}
                  aria-current={active}
                >
                  {label}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
    <div class="navbar-end max-sm:w-fit gap-2">
      <SwitchLang client:only="react" />
      <SwitchTheme client:only="react" />
    </div>
  </div>
</header>
