---
import { render, type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'jobs'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<li class="flex flex-col gap-4">
  <div class="flex not-prose items-baseline max-md:flex-col">
    <span class="md:min-w-40 opacity-90 text-sm"
      >{entry.data.from} - {entry.data.to}</span
    >
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <h3 class="text-base-content font-semibold text-lg">
          {entry.data.title}
        </h3>
        <a
          href={entry.data.url}
          class="link link-hover text-base-content font-semibold text-sm"
          >{entry.data.company}</a
        >
        <span class="text-sm opacity-90">{entry.data.contract}</span>
      </div>
    </div>
  </div>
  <div>
    <Content />
  </div>
</li>
